<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <link rel="stylesheet" href="styles/output.css">
    <link rel="stylesheet" href="styles/style.css">
    <title>WeatherGuessr</title>
</head>
<body class="h-screen bg-gradient-to-b from-gray-800 to-gray-300">
    <nav>
        <ul class="flex justify-center p-[10px] gap-10">
            <li class="flex h-[25px] gap-1">
                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M12 21C15.5 17.4 19 14.1764 19 10.2C19 6.22355 15.866 3 12 3C8.13401 3 5 6.22355 5 10.2C5 14.1764 8.5 17.4 12 21Z" stroke="#8c8c8c" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M12 13C13.6569 13 15 11.6569 15 10C15 8.34315 13.6569 7 12 7C10.3431 7 9 8.34315 9 10C9 11.6569 10.3431 13 12 13Z" stroke="#8c8c8c" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                <a class="text-gray-200 hover:text-gray-400 cursor-pointer" href="/">WeatherGuessr</a>
            </li>
            <li class="flex h-[25px] gap-1">
                <svg viewBox="0 0 48 48" id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><defs><style>.cls-1{fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;fill-rule:evenodd;}</style></defs><path class="cls-1" d="M24,2.5a21.5,21.5,0,0,0-6.8,41.9c1.08.2,1.47-.46,1.47-1s0-1.86,0-3.65c-6,1.3-7.24-2.88-7.24-2.88A5.7,5.7,0,0,0,9,33.68c-1.95-1.33.15-1.31.15-1.31a4.52,4.52,0,0,1,3.29,2.22c1.92,3.29,5,2.34,6.26,1.79a4.61,4.61,0,0,1,1.37-2.88c-4.78-.54-9.8-2.38-9.8-10.62a8.29,8.29,0,0,1,2.22-5.77,7.68,7.68,0,0,1,.21-5.69s1.8-.58,5.91,2.2a20.46,20.46,0,0,1,10.76,0c4.11-2.78,5.91-2.2,5.91-2.2a7.74,7.74,0,0,1,.21,5.69,8.28,8.28,0,0,1,2.21,5.77c0,8.26-5,10.07-9.81,10.61a5.12,5.12,0,0,1,1.46,4c0,2.87,0,5.19,0,5.9s.39,1.24,1.48,1A21.5,21.5,0,0,0,24,2.5"></path></g></svg>
                <a href="#"><p class="text-gray-200 hover:text-gray-400">Github</p></a>
            </li>
        </ul>
    </nav>

    <div class="flex justify-center game-data">
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M8 15.9998C7.44772 15.9998 7 16.4475 7 16.9998C7 17.5521 7.44772 17.9998 8 17.9998C8.55228 17.9998 9 17.5521 9 16.9998C9 16.4475 8.55228 15.9998 8 15.9998ZM8 15.9998V6M8 16.9998L8.00707 17.0069M20 5C20 6.10457 19.1046 7 18 7C16.8954 7 16 6.10457 16 5C16 3.89543 16.8954 3 18 3C19.1046 3 20 3.89543 20 5ZM12 16.9998C12 19.209 10.2091 20.9998 8 20.9998C5.79086 20.9998 4 19.209 4 16.9998C4 15.9854 4.37764 15.0591 5 14.354L5 6C5 4.34315 6.34315 3 8 3C9.65685 3 11 4.34315 11 6V14.354C11.6224 15.0591 12 15.9854 12 16.9998Z" stroke="#e5e7eb" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
        <h1 id="question" class="text-gray-200 text-center question"><%= data.weer %> &deg;C</h1>
        <svg viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>wind-flag</title> <desc>Created with Sketch Beta.</desc> <defs> </defs> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage"> <g id="Icon-Set-Filled" sketch:type="MSLayerGroup" transform="translate(-467.000000, -778.000000)" fill="#e5e7eb"> <path d="M495,780 L491,779.637 L491,791.363 L495,791 C496.104,791 497,790.104 497,789 L497,782 C497,780.896 496.104,780 495,780 L495,780 Z M483,792.091 L489,791.546 L489,779.455 L483,778.909 L483,792.091 L483,792.091 Z M471,780 L471,791 C471,792.104 471.896,793 473,793 L481,792.272 L481,778.728 L473,778 C471.896,778 471,778.896 471,780 L471,780 Z M468,778 C467.447,778 467,778.448 467,779 L467,807 C467,807.553 467.447,808 468,808 C468.553,808 469,807.553 469,807 L469,779 C469,778.448 468.553,778 468,778 L468,778 Z" id="wind-flag" sketch:type="MSShapeGroup"> </path> </g> </g> </g></svg>
        <h1 id="question" class="text-gray-200 text-center question"><%= data.wind %> km/h</h1>
        <svg fill="#e5e7eb" viewBox="0 0 64 64" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" stroke="#e5e7eb"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="cloudy_sunny"></g> <g id="bright"></g> <g id="cloudy"></g> <g id="high_rainfall"></g> <g id="windy"></g> <g id="rain_with_thunder"></g> <g id="clear_night"></g> <g id="cloudy_night"></g> <g id="moon"></g> <g id="sun"></g> <g id="rainy_night"></g> <g id="windy_night"></g> <g id="night_rain_thunder"></g> <g id="windy_rain"></g> <g id="temperature"></g> <g id="humidity"> <g> <path d="M49.7,35.9C47.3,21.2,29.5,4,28.7,3.3c-0.4-0.4-1-0.4-1.4,0C26.4,4.1,6,23.7,6,39c0,12.1,9.9,22,22,22 c3.4,0,6.7-0.8,9.7-2.3c2.1,1.4,4.6,2.3,7.3,2.3c7.2,0,13-5.8,13-13C58,42.5,54.6,37.8,49.7,35.9z M28,59C17,59,8,50,8,39 C8,26.1,24.4,9,28,5.4C31.3,8.7,45,23,47.6,35.3C46.7,35.1,45.9,35,45,35c-7.2,0-13,5.8-13,13c0,3.7,1.5,7,4,9.3 C33.5,58.4,30.8,59,28,59z M45,59c-6.1,0-11-4.9-11-11s4.9-11,11-11s11,4.9,11,11S51.1,59,45,59z"></path> <path d="M28,54c-8.3,0-15-6.7-15-15c0-0.6-0.4-1-1-1s-1,0.4-1,1c0,9.4,7.6,17,17,17c0.6,0,1-0.4,1-1S28.6,54,28,54z"></path> <path d="M48.4,40.1c-0.5-0.2-1.1,0-1.3,0.5l-6,14c-0.2,0.5,0,1.1,0.5,1.3C41.7,56,41.9,56,42,56c0.4,0,0.8-0.2,0.9-0.6l6-14 C49.1,40.9,48.9,40.3,48.4,40.1z"></path> <path d="M44,44c0-1.7-1.3-3-3-3s-3,1.3-3,3s1.3,3,3,3S44,45.7,44,44z M40,44c0-0.6,0.4-1,1-1s1,0.4,1,1s-0.4,1-1,1S40,44.6,40,44z "></path> <path d="M49,49c-1.7,0-3,1.3-3,3s1.3,3,3,3s3-1.3,3-3S50.7,49,49,49z M49,53c-0.6,0-1-0.4-1-1s0.4-1,1-1s1,0.4,1,1S49.6,53,49,53z "></path> </g> </g> <g id="air_pressure"></g> <g id="low_rainfall"></g> <g id="moderate_rainfall"></g> <g id="Sunset"></g> </g></svg>
        <h1 id="question" class="text-gray-200 text-center question"><%= data.humidity %> %</h1>
        <svg version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <style type="text/css"> .st0{fill:#e5e7eb;} </style> <g> <path class="st0" d="M115.958,269.922c16.999-10.12,36.842-15.916,58.04-15.916c2.556,0,5.127,0.078,7.682,0.234 c7.199-24.681,20.957-46.355,39.203-63.12c-3.49-39.437-36.562-70.32-76.879-70.32c-42.647,0-77.207,34.56-77.207,77.199 C66.798,230.766,87.194,258.719,115.958,269.922z"></path> <rect x="135.652" y="54.002" class="st0" width="16.696" height="45.911"></rect> <polygon class="st0" points="102.184,108.88 79.232,69.116 64.772,77.467 87.724,117.232 "></polygon> <polygon class="st0" points="15.114,133.233 54.878,156.185 63.23,141.726 23.466,118.774 "></polygon> <polygon class="st0" points="45.919,189.654 0,189.654 0,206.35 45.919,206.342 "></polygon> <polygon class="st0" points="15.114,262.77 23.466,277.23 63.23,254.27 54.878,239.811 "></polygon> <rect x="240.478" y="114.523" transform="matrix(0.4998 0.8661 -0.8661 0.4998 243.5358 -146.7501)" class="st0" width="16.694" height="45.913"></rect> <polygon class="st0" points="223.228,77.467 208.776,69.116 185.817,108.88 200.269,117.232 "></polygon> <path class="st0" d="M431.997,298c-0.031,0-0.062,0.008-0.101,0.008c0.054-1.332,0.101-2.665,0.101-4.004 C431.997,229.932,380.064,178,316,178c-60.012,0-109.382,45.575-115.388,104.006c-8.414-2.602-17.342-4.005-26.614-4.005 C124.294,278.001,84,318.295,84,368c0,49.704,40.294,89.998,89.998,89.998h257.999c44.182,0,80.003-35.814,80.003-79.995 C512,333.814,476.178,298,431.997,298z"></path> </g> </g></svg>        
        <h1 id="question" class="text-gray-200 text-center question"><%= data.airquality %></h1>
    </div>

    <form action="/submit" method="post">
        <h1 class="score text-center text-xl text-gray-200">Score: <%= totalCorrect %></h1>

        <div class="flex justify-center input">
            <input class="rounded-md" type="text" name="answer" id="userInput" placeholder="Type or click on the map" autofocus autocomplete="off">
            <button type="submit" class="bg-green-600 rounded-md p-[5px] cursor-pointer shadow-lg text-white hover:bg-green-700">Submit</button>
        </div>

        <div class="flex justify-center">
            <div class="map rounded-lg shadow-xl" id="map"></div>
        </div>
    </form>

    <script src="js/map.js"></script>

</body>
</html>
